body {
  font-family: 'Oswald', sans-serif;
  background-image: url("../img/servicostopo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Seção de resumo*/

.mainTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: white;
  text-shadow: 4px 4px 12px goldenrod;
  margin: 50px 50px;
}

section {
  width: 100vw;
  max-width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.resumo {
  width: 100vw;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

/*formularioAgenda*/

.alert.show {
  opacity: 100%;
}

.alert {
  display: block;
  opacity: 0%;
  width: 100%;
  color: #b0c5d1;
  padding: 10px;
  transition: all 1s;
}

.botaoEnviar {
  background-color: black;
  color: goldenrod;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  padding: 10px 20px;
  border: 1px solid goldenrod;
}

.botaoEnviar:hover {
  background-color: goldenrod;
  color: black;
  cursor: pointer;
}

.formularioAgenda {
  width: 100%;
  color: white;
  background-color: black;
  font-family: 'Oswald', sans-serif;
  border-radius: 10px;
  box-shadow: 10px 10px 55px 12px rgba(0, 0, 0, 0.50);
}

.formContainer {
  margin: 10px;
  margin-top: 50px;
  font-size: 1.5em;
}

.formContainer form {
  margin-right: 20px;
  margin-top: 20px;
  justify-content: center;
}

.formContainer select {
  max-width: 200px;
  font-size: large;
  padding: 10px;
  border-radius: 10px;
}

.formContainer input {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  height: 50px;
  font-size: large;
}

.formContainer label {
  margin-bottom: 10px;
  align-self: flex-start;
}

.col-servicos {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.row-servicos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  margin-bottom: 10px;
}

.equipe-section {
  display: flex;
  justify-content: center;
}

.equipeDescr {
  padding: 20px;
  font-size: medium;
}

.fotoEquipe {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  margin-left: 20px;
  transition: transform;
}

.equipecard {
  align-items: center;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.fotoEquipe:hover {
  transform: scale(1.4);
}

.logo-servicos {
  display: none;
  position: absolute;
  width: 100px !important;
  height: 100px !important;
}

@media(min-width:1200px) {
  .resumo {
    flex-direction: row;
    flex-flow: row-reverse;
  }

  .equipe-section {
    width: 40%;
  }

  .formularioAgenda {
    width: 60%;
    min-height: 100vh;
  }
}


@media(max-width:820px) {
  .row-servicos {
    flex-direction: column;
    text-align: center;
  }
}