@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Nabla&display=swap');


:root {
    --black: #000000;
    --golden: goldenrod;
    --gray: gray;
    --darkgolden: #140F03;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: none;
}

/* SECTION DEFAULT STYLING */
section {
    width: 100%;
    padding: 40px;
    scroll-margin-top: 0;
    min-height: 100vh;
}

/*Menu styling*/
/*responsive menu taken from https: //blog.logrocket.com/create-responsive-mobile-menu-with-css-no-javascript/*/
.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    margin: 20px;
    display: inline-block;
    align-self: flex-start;
    width: 160px;
    height: 100px;
}

.logo img {
    display: inline-block;
    width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    position: sticky;
    background-color: var(--black);
    overflow: hidden;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: var(--golden);
}

.menu a:hover {
    color: var(--gray);
}

.menu {
    margin-bottom: 0;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    margin-top: 30px;
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */
.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100vh;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/*in devices with the min width of 768px
    the menu will be showed on the top of the page in full*/
@media(min-width:820px) {

    .card-servico {
        width: 30%;
        background-color: red;
    }

    .secao-servicos {
        flex-direction: row;
    }

    /*quem somos*/
    .texto {
        margin: 0 auto;
        width: 60%;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        color: var(--gray);
        background-color: transparent;
    }

    .hamb {
        display: none;
    }

}

/*end menu css*/

/*Banner section*/
.main-banner {
    background-image: url('../img/pexels-nikolaos-dimou-1319461.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.botao-contato {
    display: inline-block;
    width: 120px;
    padding: 16px;
    background-color: goldenrod;
    border-radius: 8px;
}

.botao-contato:hover {
    background-color: black;
}

.botao-contato a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.botao-contato:hover a {
    color: goldenrod;
}

.titulo-botao-banner {
    text-align: center;
    justify-content: center;
}


#titulo-banner {
    color: white;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

.texto-banner {
    font-family: 'Inter Tight', sans-serif;
    color: white;
    padding: 8px;
    text-align: center;
    text-shadow: 1px 1px 1px goldenrod;
    font-size: 24px;
    margin: 0 80px 16px 80px;
}

.texto-banner:hover {
    text-shadow: 1px 1px 1px goldenrod;
}

/*fim banner section*/

/* Seção "Quem somos" */

.quem-somos {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(43, 43, 43), black);
    padding: 60px;
    align-items: center;
    min-height: 0;
}

.titulo {
    margin: 10px 0;
    text-align: center;
    font-size: 56px;
    color: goldenrod;
    font-family: 'Oswald', sans-serif;
}

.texto {
    width: 95%;
    font-family: 'Inter Tight', sans-serif;
    color: white;
    padding: 8px;
    margin: 0 80 px 16px 80px;
    text-align: justify;
}

.botao-saibamais {
    text-decoration: none;
    float: right;
    padding: 6px;
    background-color: goldenrod;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.botao-saibamais:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid white;
    transition: 0.2s;
    transform: scale(1.2);
    opacity: 90%;
}

/* fim "Quem somos"*/

/*Seção serviços*/
.secao-servicos {
    background-color: var(--darkgolden);
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cards-servicos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo-servicos {
    margin: 24px 0 0 0;
    font-size: 30px;
    text-align: center;
    color: var(--golden);
    font-family: Antonio;
}

.card-servico {
    justify-content: space-around;
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--golden);
    border-radius: 16px;
    padding: 16px;
}

.card-servico:hover {
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
    background-color: var(--golden);
    border: 2px solid black;
    color: white;
    opacity: 85%;
}

.titulo-card {
    font-size: 24px;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.img-card {
    margin-top: 8px;
    width: 180px;
    border-radius: 80px;
}

.preco-card {
    margin-top: 8px;
    font-size: 16px;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.botao-maisservicos {
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 8px;
    background-color: black;
    color: var(--golden);
    border: 1px solid var(--golden);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.botao-maisservicos:hover {
    color: black;
    background-color: var(--golden);
    border: 1px solid black;
    transition: 0.2s;
    transform: scale(1.1);
    opacity: 80%;
}

/*fim seção serviços*/