@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Nabla&display=swap');


:root {
    --black: #000000;
    --golden: goldenrod;
    --gray: gray;
    --darkgolden: #140F03;
    --gray: #3d3636;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: none;
}

/* SECTION DEFAULT STYLING */
section {
    width: 100%;
    padding: 40px;
    scroll-margin-top: 0;
    min-height: 100vh;
}

/*Menu styling*/
/*responsive menu taken from https: //blog.logrocket.com/create-responsive-mobile-menu-with-css-no-javascript/*/

.planoDeFundoParallax {
    background-attachment: fixed
}

.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    margin: 20px;
    display: inline-block;
    align-self: flex-start;
    width: 160px;
    height: 100px;
}

.logo img {
    display: inline-block;
    width: 100%;
}

.nav {
    width: 100%;
    height: 100%;
    position: sticky;
    background-color: var(--black);
    overflow: hidden;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: var(--golden);
}

.menu a:hover {
    color: var(--gray);
}

.menu {
    margin-bottom: 0;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    margin-top: 30px;
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */
.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */
.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100vh;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.hide-small-screen {
    display: none;
}

/*in devices with the min width of 768px
    the menu will be showed on the top of the page in full*/
@media(min-width:820px) {

    .hide-small-screen {
        display: block;
    }

    .card-servico {
        width: 30%;
        background-color: red;
    }

    /*quem somos*/
    .texto {
        margin: 0 auto;
        width: 60%;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        color: var(--gray);
        background-color: transparent;
    }

    .hamb {
        display: none;
    }

}

/*end menu css*/

/*Banner section*/
.main-banner {
    background-image: url('../img/pexels-nikolaos-dimou-1319461.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.botao-contato {
    display: inline-block;
    width: 120px;
    padding: 16px;
    background-color: goldenrod;
    border-radius: 8px;
}

.botao-contato:hover {
    background-color: black;
}

.botao-contato a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.botao-contato:hover a {
    color: goldenrod;
}

.titulo-botao-banner {
    text-align: center;
    justify-content: center;
}


#titulo-banner {
    color: white;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 1px 10px black;
    margin-bottom: 30px;
}

.texto-banner {
    font-family: 'Inter Tight', sans-serif;
    color: white;
    padding: 8px;
    text-align: center;
    text-shadow: 1px 1px 1px goldenrod;
    font-size: 24px;
    margin: 0 80px 16px 80px;
}

.texto-banner:hover {
    text-shadow: 1px 1px 1px goldenrod;
}

/*fim banner section*/

/* Seção "Quem somos" */

.quem-somos {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(43, 43, 43), black);
    padding: 60px;
    align-items: center;
    min-height: 0;
}

.titulo {
    margin: 10px 0;
    text-align: center;
    font-size: 56px;
    color: goldenrod;
    font-family: 'Oswald', sans-serif;
}

.texto {
    width: 95%;
    font-family: 'Inter Tight', sans-serif;
    color: white;
    padding: 8px;
    margin: 0 80 px 16px 80px;
    text-align: justify;
}

.botao-saibamais {
    text-decoration: none;
    float: right;
    padding: 6px;
    background-color: goldenrod;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.botao-saibamais:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid white;
    transition: 0.2s;
    transform: scale(1.2);
    opacity: 90%;
}

/* fim "Quem somos"*/

/*Seção serviços*/

header {
    margin-bottom: 0;
}

.listServicos {
    width: 100vw;
    height: fit-content;
    background-image: url('../img/indexServiceBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-instagram {
    width: 100%;
    height: 100%;
}

.imageCard {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    background-color: var(--darkgolden);
    color: var(--golden);

    margin-bottom: 20px;
    font-family: Antonio;
    font-weight: 600;
}

.imageCard img {
    margin-top: 20px;
    width: 98%;
    height: 400px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
}

.tesoura {
    background-image: url("../img/icons/tesoura.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.lamina {
    background-image: url("../img/icons/lamina_barbear.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.imageCard .icon {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.listServicos .mainTitle {
    color: var(--golden);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.50);
}

.listServicos .black {
    color: black;
    text-shadow: 1px 1px 10px var(--golden);
}

.mainTitle {
    font-family: Antonio;
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 600;
}

@media(min-width:820px) {
    .banner-instagram {
        position: relative;
        display: flex;
        flex-wrap: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        padding: 10px;
        width: 100%;
        height: 600px;
    }

    .shadowBox {
        box-shadow: 10px 10px 55px 12px rgba(0, 0, 0, 0.50);
    }

    .imageCard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        background-color: var(--gray);
        width: 30%;
        height: 600px;
        transition: all 0s;
        z-index: 0;
        cursor: pointer;
        overflow: hidden;
        border-radius: 10px;
    }

    .imageCard .text {
        display: flex;
        align-items: center;
        justify-content: center;
        color: goldenrod;
        margin-top: 5px;
        font-size: 1.2em;
    }

    .imageCard img {
        margin-top: 20px;
    }

    .imageCard-1 {
        margin-right: 40%;
    }

    .imageCard-2 {}

    .imageCard-3 {
        margin-left: 40%;
    }

    .imageCard:hover,
    .imageCard-1:hover,
    .imageCard-2:hover {
        transition-delay: 1s;
    }

    .activeRight {
        animation: marginRight;
        animation-duration: 2s;
    }

    .activeLeft {
        animation: marginLeft;
        animation-duration: 2s;
    }

    .activeMeio {
        animation: fade;
        animation-duration: 2s;
    }

    @keyframes marginRight {
        0% {
            margin-right: 40%;
        }

        50% {
            margin-right: 70%;
        }

        100% {
            margin-right: 40%;
        }
    }

    @keyframes marginLeft {
        0% {
            margin-left: 40%;
        }

        50% {
            margin-left: 70%;
        }

        100% {
            margin-left: 40%;
        }
    }

    @keyframes fade {
        0% {
            opacity: 100%;
        }

        50% {
            opacity: 50%;
        }

        100% {
            opacity: 100%;
        }
    }

    .imageCard-1 img,
    .imageCard-2 img,
    .imageCard img {
        width: 90%;
        height: 80%;
    }

    .reveal {
        position: relative;
        transform: translateY(100px);
        opacity: 0;
        transition: 2s all ease;
    }

    /* all elements with the class reveal will be shown when the class active is added*/
    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
}

/*fim seção serviços*/