/*Fontes do site*/

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,200&family=Lato:wght@300;400;700;900&family=Oswald&display=swap');

/*Reset*/

* {
    margin: 0;
    padding: 0;
}


/*Corpo geral do site*/


/*Cabeçalho*/

header {
    display: inline;
}


/*Menu*/

.menu {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgb(43, 43, 43), black);
    padding: 8px;
    width: 100%;
}

.logo {
    width: 160px;
    height: 90px;
}

.conjunto-opcoes-menu {
    border-radius: 8px;
    padding: 8px;
}

@keyframes animacao-opcaomenu {
    from {
        border: 1px inset black;
    }
    to {
        border: 1px inset goldenrod;
    }
}

.opcao-menu {
    animation: animacao-opcaomenu 10s ease-out infinite;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
}

.opcao-menu:hover {
    background-color: black;
    color: goldenrod;
    opacity: (40%);
    transition: 0.5s;
}


/*Banner*/

@keyframes animacao-banner {
    from {
        transition: ease-in-out;
    }
    to {
        transform: scale(1.1);
    }
}

.banner-topo {
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 640px;
    filter: blur(3px);
    animation: animacao-banner 32s infinite;
}

.botao-contato {
    padding: 16px;
    background-color: white;
    color: black;
    border: 1px solid goldenrod;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    opacity: 80%;
    text-decoration: none;
}

.botao-contato:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid black;
    transition: 0.2s;
    transform: scale(1.1);
    opacity: 80%;
}

.titulo-botao-banner {
    position: absolute;
    margin-top: 50%;
    bottom: 25%;
    text-align: center;
    justify-content: center;
}

@keyframes animacao-titulobanner {
    from {
        text-shadow: 1px 1px 1px goldenrod;
    }
    to {
        text-shadow: 1px 1px 1px white;
    }
}

#titulo-banner {
    color: white;
    font-size: 88px;
    font-family: 'Oswald', sans-serif;
    animation: animacao-titulobanner 3s infinite;
    transition: 0.4s ease-in-out;
}

.texto-banner {
    font-family: 'Inter Tight', sans-serif;
    color: white;
    padding: 8px;
    text-align: center;
    backdrop-filter: blur(1px);
    text-shadow: 1px 1px 1px goldenrod;
    font-size: 24px;
    margin: 0 80px 16px 80px;
}

.texto-banner:hover {
    text-shadow: 1px 1px 1px goldenrod;
    transition: 0.4s ease-in-out;
}


/*Quem somos*/

.fundo-colorido {
    background: linear-gradient(rgb(43, 43, 43), black);
    padding: 60px;
}

.secao-quemsomos {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.titulo {
    text-align: center;
    font-size: 56px;
    color: goldenrod;
    font-family: 'Oswald', sans-serif;
}

.texto {
    font-family: 'Inter Tight', sans-serif;
    color: white;
    padding: 8px;
    margin: 0 80 px 16px 80px;
    text-align: justify;
}

.botao-saibamais {
    text-decoration: none;
    float: right;
    padding: 6px;
    background-color: white;
    color: black;
    border: 1px solid goldenrod;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.botao-saibamais:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid white;
    transition: 0.2s;
    transform: scale(1.2);
    opacity: 90%;
}


/*Seção Serviços*/

.secao-servicos {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cards-servicos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo-servicos {
    margin: 24px 0 0 0;
    font-size: 56px;
    text-align: center;
    color: goldenrod;
    font-family: 'Oswald', sans-serif;
}

.card-servico {
    justify-content: space-around;
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid goldenrod;
    border-radius: 16px;
    padding: 16px;
}

.card-servico:hover {
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
    background-color: goldenrod;
    border: 2px solid black;
    color: white;
    opacity: 85%;
}

.titulo-card {
    font-size: 24px;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.img-card {
    margin-top: 8px;
    width: 180px;
    border-radius: 80px;
}

.preco-card {
    margin-top: 8px;
    font-size: 16px;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.botao-maisservicos {
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 8px;
    background-color: black;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.botao-maisservicos:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid black;
    transition: 0.2s;
    transform: scale(1.1);
    opacity: 80%;
}


/*Seção Banner intermediário -*/

.banner-intermediario {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@keyframes animacao-banner2 {
    from {
        transition: ease-in-out;
    }
    to {
        transform: scale(1.1);
    }
}

.banner-img2 {
    width: 100%;
    height: 560px;
    filter: brightness(50%);
    animation: animacao-banner2 32s infinite;
}

@keyframes animacao-titulobanner2 {
    from {
        text-shadow: 1px 1px 1px goldenrod;
    }
    to {
        text-shadow: 1px 1px 1px white;
    }
}

#titulo-banner2 {
    position: absolute;
    color: white;
    font-size: 88px;
    font-family: 'Oswald', sans-serif;
    animation: animacao-titulobanner2 6s infinite;
    transition: 0.4s ease-in-out;
    margin-top: -140px;
}

.texto-banner2 {
    position: absolute;
    font-family: 'Inter Tight', sans-serif;
    color: white;
    padding: 8px;
    text-align: center;
    backdrop-filter: blur(1px);
    text-shadow: 1px 1px 1px goldenrod;
    font-size: 24px;
    margin: 0 80px 16px 80px;
}

.texto-banner2:hover {
    text-shadow: 1px 1px 1px goldenrod;
    transition: 0.4s ease-in-out;
}

.botao-contato2 {
    margin-top: 80px;
    position: absolute;
    padding: 16px;
    background-color: white;
    color: black;
    border: 1px solid goldenrod;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    opacity: 80%;
    text-decoration: none;
}

.botao-contato2:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid black;
    transition: 0.2s;
    transform: scale(1.1);
    opacity: 80%;
}


/*Seção Depoimentos*/

.secao-depoimentos {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.cards-depoimentos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#titulo-depoimentos {
    margin: 24px 0 0 0;
    font-size: 56px;
    text-align: center;
    color: goldenrod;
    font-family: 'Oswald', sans-serif;
}

.card-depoimentos {
    justify-content: space-around;
    margin: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid goldenrod;
    border-radius: 16px;
    padding: 8px;
}

.titulo-card-depoimentos {
    font-size: 24px;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.img-card {
    margin-top: 8px;
    width: 180px;
    border-radius: 50%;
}

.texto-card {
    font-size: 12px;
    font-style: italic;
    color: black;
    font-family: 'Lato';
    text-align: justify;
}

.botao-maisservicos {
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 8px;
    background-color: black;
    color: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.botao-maisservicos:hover {
    color: black;
    background-color: goldenrod;
    border: 1px solid black;
    transition: 0.2s;
    transform: scale(1.1);
    opacity: 80%;
}


/*Onde estamos*/

.onde-estamos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-mapas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titulooe {
    justify-content: center;
    align-items: center;
    color: goldenrod;
    text-align: center;
    margin-top: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
}

.nome-unidades {
    font-family: 'Oswald', sans-serif;
    color: goldenrod;
    font-size: 32px;
}

.endereco-unidade {
    font-family: 'Oswald', sans-serif;
    color: goldenrod;
    font-size: 16px;
    text-align: center;
}

.textooe {
    font-family: 'Inter Tight', sans-serif;
    color: white;
    text-align: center;
}

iframe {
    justify-content: center;
    align-items: center;
    margin: 8px 8px 32px 8px;
}

.mapaBox {
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background: none!important;
}

iframe {
    width: 320px;
    height: 220px;
}


/*Seção de contatos*/

.secao-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 24px 0;
}

.titulo-contato {
    color: goldenrod;
    font-size: 56px;
    font-family: 'Oswald', sans-serif;
    margin-top: 16px;
}

.titulo-opcao {
    color: black;
    font-family: 'Inter Tight', sans-serif;
}

.link-instagram,
.link-whatsapp,
.link-facebook,
.link-tiktok,
.link-faleconosco {
    text-decoration: none;
    padding: 16px;
    margin: 8px;
    background-color: goldenrod;
    color: black;
    border-radius: 16%;
    width: 80px;
    height: 80px;
}

.link-instagram:hover {
    background: linear-gradient(to bottom left, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
    color: white;
    border: 2px solid white;
    transition: 0.2s;
    box-shadow: 2px 2px 2px #dd2a7b;
    transform: scale(1.1);
}

.link-whatsapp:hover {
    background-color: #25D366;
    color: white;
    border: 2px solid white;
    transition: 0.2s;
    box-shadow: 2px 2px 2px #075E54;
    transform: scale(1.1);
}

.link-facebook:hover {
    background-color: #1778f2;
    color: white;
    border: 2px solid white;
    transition: 0.2s;
    box-shadow: 2px 2px 2px #898F9C;
    transform: scale(1.1);
}

.link-tiktok:hover {
    background-color: #010101;
    color: white;
    border: 2px solid #69C9D0;
    transition: 0.2s;
    box-shadow: 2px 2px 2px #ff0050;
    transform: scale(1.1);
}

.link-faleconosco:hover {
    background-color: red;
    color: white;
    border: 2px solid white;
    transition: 0.2s;
    box-shadow: 2px 2px 2px black;
    transform: scale(1.1);
}


/*Rodapé*/

.rodape {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(43, 43, 43), black);
    justify-content: center;
    align-items: center;
}

.logo-rodape {
    margin: 16px;
    width: 230px;
    height: 140px;
}

#texto-rodape {
    text-align: center;
    color: goldenrod;
    font-family: 'Oswald', sans-serif;
}

.sub-container-rodape {
    display: flex;
    flex-direction: row;
}