            /*Fontes do site*/
            
            @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,200&family=Lato:wght@300;400;700;900&family=Oswald&display=swap');
            /*Reset*/
            
            * {
                margin: 0;
                padding: 0;
            }
            /*Corpo geral do site*/
            /*Cabeçalho*/
            
            header {
                display: block;
            }
            /*Menu*/
            
            .menu {
                font-family: 'Oswald', sans-serif;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                background: linear-gradient(rgb(54, 53, 53), black);
                padding: 8px;
            }

            @keyframes animacao-logo1 {
                from {
                    color: red;
                    border: 2px solid white;
                    border-radius: 50%;
                    
                } to {
                    border-radius: 50%;
                    color: blue;
                    border: 2px solid red;
                    transition: 0.5s;
                }
            }
            
            .borda-logo {
            animation: animacao-logo1 10s ease-in-out infinite;
            }
            
            @keyframes animacao-logo2 {
                from {
                    color: blue;
                    border: 2px solid red;
                    border-radius: 50%;

                } to {
                    color: red;
                    border: 2px solid blue;
                    transition: 0.5s;
                    border-radius: 50%;
                    transform: rotate(90);

                }
            }
            
            .logo {
                width: 80px;
                height: 80px;
                padding: 2px;
                background-color: white;
                animation: animacao-logo2 1s infinite;
            }
            
            
            .titulo-logo:hover {
                color: red;
                border: 2px solid red;
                transition: 0.5s;
            }
            
            .conjunto-opcoes-menu {
                border-radius: 8px;
                padding: 16px;
            }
            

            @keyframes animacao-opcaomenu {
                from {
                    border: 1px inset black;
                } to {
                    border: 1px inset goldenrod;
                }
            }

            .opcao-menu {
                animation: animacao-opcaomenu 10s ease-out infinite;
                padding: 16px;
                color: white;
                text-decoration: none;
                font-size: 20px;
                border-radius: 8px;
            }
            
            .opcao-menu:hover {
                background-color: goldenrod;
                color: black;
                opacity: (40%);
                
                transition: 0.5s;
            }
            /*Banner*/
            
            @keyframes animacao-banner {
                from {
                    transition: ease-in-out;
                } to {
                    transform: scale(1.1);
                }
            }

            .banner-topo {
                overflow: hidden;
            }
            
            .banner-img {
                width: 100%;
                height: 640px;
                filter: blur(3px);
                animation: animacao-banner 32s infinite;
            }
                
            .botao-contato {
                padding: 16px;
                background-color: white;
                color: black;
                border: 1px solid goldenrod;
                border-radius: 8px;
                cursor: pointer;
                font-size: 16px;
                font-family: 'Lato', sans-serif;
                opacity: 80%;
            }
            
            .botao-contato:hover {
                color: black;
                background-color: goldenrod;
                border: 1px solid black;
                transition: 0.2s;
                transform: scale(1.1);
                opacity: 80%;
            }
            
            .titulo-botao-banner {
                position: absolute;
                
                margin-top: 50%;
                bottom: 25%;
                text-align: center;
            }
            

            @keyframes animacao-titulobanner {
                from {
                    text-shadow: 1px 1px 1px goldenrod;
                } to {
                    text-shadow: 1px 1px 1px white;
                }
            }

            #titulo-banner {
                color: white;
                font-size: 88px;
                font-family: 'Oswald', sans-serif;
                animation: animacao-titulobanner 3s infinite;
                transition: 0.4s ease-in-out;
            }

            
            .texto-banner {
                font-family: 'Inter Tight', sans-serif;
                color: white;
                padding: 8px;
                text-align: center;
                backdrop-filter: blur(1px);
                text-shadow: 1px 1px 1px goldenrod;
                font-size: 24px;
                margin: 0 80px 16px 80px;
            }
            
            .texto-banner:hover {
                text-shadow: 1px 1px 1px goldenrod;
                transition: 0.4s ease-in-out;
            }
            /*Quem somos*/
            
            .fundo-colorido {
                background-color: black;
                padding: 60px;
            }
            
            .secao-quemsomos {
                display: flex;
                flex-direction: column;
                margin: 8px;
            }
            
            .titulo {
                text-align: center;
                font-size: 56px;
                color: goldenrod;
                font-family: 'Oswald', sans-serif;
            }
            
            .texto {
                font-family: 'Inter Tight', sans-serif;
                color: white;
                padding: 8px;
                margin: 0 80    px 16px 80px;
                text-align: justify;
            }
            
            .botao-saibamais {
                text-decoration: none;
                margin-left: 680px;
                padding: 6px;
                background-color: white;
                color: black;
                border: 1px solid goldenrod;
                border-radius: 8px;
                cursor: pointer;
                font-family: 'Lato', sans-serif;
            }
            
            .botao-saibamais:hover {
                color: black;
                background-color: goldenrod;
                border: 1px solid white;
                transition: 0.2s;
                transform: scale(1.2);
                opacity: 90%;
            }



            /*Seção Serviços*/
            
            .secao-servicos {
                background-color: white;
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
            }
            
            .cards-servicos {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
            .titulo-servicos {
                margin: 24px 0 0 0;
                font-size: 56px;
                text-align: center;
                color: goldenrod;
                font-family: 'Oswald', sans-serif;
            }
            
            .card-servico {
                justify-content: space-around;
                margin: 32px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 2px solid goldenrod;
                border-radius: 16px;
                padding: 16px;
            }
            
            .card-servico:hover {
                transform: scale(1.1);
                transition: 0.4s;
                cursor: pointer;
                background-color: goldenrod;
                border: 2px solid black;
                color: white;
                
            }
            
            .titulo-card {
                font-size: 24px;
                color: black;
                font-family: 'Oswald', sans-serif;
            }
        

            .img-card {
                margin-top: 8px;
                width: 180px;
                border-radius: 80px;
            }
            
            .preco-card {
                margin-top: 8px;
                font-size: 16px;
                color: black;
                font-family: 'Lato', sans-serif;
            }
            
            .botao-maisservicos {
                text-align: center;
                text-decoration: none;
                margin: auto;
                padding: 8px;
                background-color: black;
                color: goldenrod;
                border: 1px solid goldenrod;
                border-radius: 8px;
                cursor: pointer;
                font-size: 16px;
                font-family: 'Lato', sans-serif;
            }
            
            .botao-maisservicos:hover {
                color: black;
                background-color: goldenrod;
                border: 1px solid black;
                transition: 0.2s;
                transform: scale(1.1);
                opacity: 80%;
            }



            
            /*Seção Banner intermediário -*/

            .banner-intermediario {
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            @keyframes animacao-banner2 {
                from {
                    transition: ease-in-out;
                } to {
                    transform: scale(1.1);
                }
            }


            .banner-img2 {
                width: 100%;
                height: 560px;
                filter: brightness(50%);
                animation: animacao-banner2 32s infinite;
            }

            @keyframes animacao-titulobanner2 {
                from {
                    text-shadow: 1px 1px 1px goldenrod;
                } to {
                    text-shadow: 1px 1px 1px white;
                }
            }

            #titulo-banner2 {
                position: absolute;
                color: white;
                font-size: 88px;
                font-family: 'Oswald', sans-serif;
                animation: animacao-titulobanner2 6s infinite;
                transition: 0.4s ease-in-out;
                margin-top: -140px;
            }

            
            .texto-banner2 {
                position: absolute;
                font-family: 'Inter Tight', sans-serif;
                color: white;
                padding: 8px;
                text-align: center;
                backdrop-filter: blur(1px);
                text-shadow: 1px 1px 1px goldenrod;
                font-size: 24px;
                margin: 0 80px 16px 80px;
            }
            
            .texto-banner2:hover {
                text-shadow: 1px 1px 1px goldenrod;
                transition: 0.4s ease-in-out;
            }

            .botao-contato2 {
                margin-top: 80px;
                position: absolute;
                padding: 16px;
                background-color: white;
                color: black;
                border: 1px solid goldenrod;
                border-radius: 8px;
                cursor: pointer;
                font-size: 16px;
                font-family: 'Lato', sans-serif;
                opacity: 80%;
            }
            
            .botao-contato2:hover {
                color: black;
                background-color: goldenrod;
                border: 1px solid black;
                transition: 0.2s;
                transform: scale(1.1);
                opacity: 80%;
            }


                /*Seção Depoimentos*/
    
                .secao-depoimentos {
                background-color: white;
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
            }
            
            .cards-depoimentos {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
            #titulo-depoimentos {
                margin: 24px 0 0 0;
                font-size: 56px;
                text-align: center;
                color: goldenrod;
                font-family: 'Oswald', sans-serif;
            }
            
            .card-depoimentos {
                justify-content: space-around;
                margin: 32px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 2px solid goldenrod;
                border-radius: 16px;
                padding: 16px;
            }
            
            
            .titulo-card-depoimentos {
                font-size: 24px;
                color: black;
                font-family: 'Oswald', sans-serif;
            }
        

            .img-card {
                margin-top: 8px;
                width: 180px;
                border-radius: 80px;
            }
            
            .preco-card {
                margin-top: 8px;
                font-size: 16px;
                color: black;
                font-family: 'Lato', sans-serif;
            }
            
            .botao-maisservicos {
                text-align: center;
                text-decoration: none;
                margin: auto;
                padding: 8px;
                background-color: black;
                color: goldenrod;
                border: 1px solid goldenrod;
                border-radius: 8px;
                cursor: pointer;
                font-size: 16px;
                font-family: 'Lato', sans-serif;
            }
            
            .botao-maisservicos:hover {
                color: black;
                background-color: goldenrod;
                border: 1px solid black;
                transition: 0.2s;
                transform: scale(1.1);
                opacity: 80%;
            }


            /*Onde estamos*/
            
            .onde-estamos {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            .titulooe {
                justify-content: center;
                align-items: center;
                color: goldenrod;
                text-align: center;
                margin-top: 8px;
                font-family: 'Oswald', sans-serif;
                font-size: 56px;
            }
            
            .textooe {
                font-family: 'Inter Tight', sans-serif;
                color: white;
                text-align: center;
            }
            
            iframe {
                justify-content: center;
                align-items: center;
                margin: 8px 8px 32px 8px;
            }
            /*Seção de contatos*/
            
            .secao-contato {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 0 24px 0;
            }
            
            .titulo-contato {
                color: goldenrod;
                font-size: 56px;
                font-family: 'Oswald', sans-serif;
                margin-top: 16px;
            }
            
            .titulo-opcao {
                color: black;
                font-family: 'Inter Tight', sans-serif;
            }
            
            .link-instagram,
            .link-whatsapp,
            .link-facebook,
            .link-tiktok,
            .link-faleconosco {
                text-decoration: none;
                padding: 16px;
                margin: 8px;
                background-color: goldenrod;
                color: black;
                border-radius: 16%;
                
                width: 80px;
                height: 80px;
            }
            
            .link-instagram:hover {
                background: linear-gradient(to bottom left, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
                color: white;
                border: 2px solid white;
                transition: 0.2s;
                box-shadow: 2px 2px 2px #dd2a7b;
                transform: scale(1.1);
            }
            
            .link-whatsapp:hover {
                background-color: #25D366;
                color: white;
                border: 2px solid white;
                transition: 0.2s;
                box-shadow: 2px 2px 2px #075E54;
                transform: scale(1.1);
            }
            
            .link-facebook:hover {
                background-color: #1778f2;
                color: white;
                border: 2px solid white;
                transition: 0.2s;
                box-shadow: 2px 2px 2px #898F9C;
                transform: scale(1.1);
            }
            
            .link-tiktok:hover {
                background-color: #010101;
                color: white;
                border: 2px solid #69C9D0;
                transition: 0.2s;
                box-shadow: 2px 2px 2px #ff0050;
                transform: scale(1.1);
            }
            
            .link-faleconosco:hover {
                background-color: red;
                color: white;
                border: 2px solid white;
                transition: 0.2s;
                box-shadow: 2px 2px 2px black;
                transform: scale(1.1);
            }
            /*Rodapé*/
            
            .rodape {
                display: flex;
                flex-direction: column;
                background-color: black;
                justify-content: center;
                align-items: center;
            }
            
            .logo-rodape {
                margin: 16px;
                color: blue;
                border: 2px solid red;
                background-color: white;
                padding: 2px;
                border-radius: 180px;
                width: 80px;
                height: 80px;
            }
            
            .logo-rodape:hover {
                color: red;
                border: 2px solid blue;
                transition: 0.5s;
            }
            
            #texto-rodape {
                text-align: center;
                color: white;
                font-family: 'Oswald', sans-serif;
            }


            /*RESPONSIVIDADE PARA TABLET*/
            @media (min-width: 600px) and (max-width: 900px) {
            /*Fontes do site*/
            
            @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,200&family=Lato:wght@300;400;700;900&family=Oswald&display=swap');
            /*Reset*/
            
            * {
                margin: 0;
                padding: 0;
                
            }
            /*Corpo geral do site*/
            /*Cabeçalho*/
            
            header {
                display: block;
            }
            /*Menu*/
            
            .menu {
                font-family: 'Oswald', sans-serif;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                background-color: black;
                padding: 4px;
                
            }
            
            .borda-logo {
                color: red;
                border: 2px solid white;
                border-radius: 360px;
                padding: 3px;
            }
            
            .borda-logo:hover {
                color: blue;
                border: 2px solid red;
                transition: 0.5s;
            }
            
            .logo {
                color: blue;
                border: 2px solid red;
                background-color: white;
                padding: 2px;
                border-radius: 360px;
                width: 40px;
                height: 40px;
            }
            
            .logo:hover {
                color: red;
                border: 2px solid blue;
                transition: 0.5s;
            }
            
            .titulo-logo:hover {
                color: red;
                border: 2px solid red;
                transition: 0.5s;
            }
            
            .conjunto-opcoes-menu {
                border-radius: 4px;
                padding: 8px;
            }
            
            .opcao-menu {
                padding: 8px;
                color: white;
                text-decoration: none;
                font-size: 16px;
                border: 1px solid black;
                border-radius: 8px;
            }
            
            .opcao-menu:hover {
                background-color: white;
                color: blue;
                opacity: (40%);
                border: 1px solid red;
                transition: 0.5s;
            }
            /*Banner*/
            
            .banner-topo {
                overflow: hidden;
            }
            
            .banner-img {
                width: 100%;
                height: 260px;
                filter: blur(2px);
            }
            
            .banner-img:hover {
                scale: 1.1;
                transition: 4s ease-in;
            }
            
            .botao-contato {
                padding: 6px;
                background-color: white;
                color: blue;
                border: 1px solid red;
                border-radius: 4px;
                cursor: pointer;
                font-size: 12px;
                font-family: 'Lato', sans-serif;
                opacity: 90%;
            }
            
            .botao-contato:hover {
                color: white;
                background-color: blue;
                border: 1px solid red;
                transition: 0.2s;
                transform: scale(1.1);
                opacity: 100%;
            }
            
            .titulo-botao-banner {
                position: absolute;
                left: 8px;
                right: 8px;
                top: 18%;
                bottom: 7%;
                text-align: center;
            }
            
            #titulo-banner {
                color: white;
                text-shadow: 3px 3px 3px blue;
                font-size: 52px;
                font-family: 'Oswald', sans-serif;
            }
            
            #titulo-banner:hover {
                color: white;
                text-shadow: 3px 3px 3px red;
                transition: 0.4s ease-in-out;
            }
            
            .texto-banner {
                font-family: 'Inter Tight', sans-serif;
                color: white;
                padding: 8px;
                text-align: center;
                backdrop-filter: blur(1px);
                text-shadow: 3px 3px 3px blue;
                font-size: 16px;
                margin: 0 36px 0 36px;
            }
            
            .texto-banner:hover {
                text-shadow: 3px 3px 3px red;
                transition: 0.4s ease-in-out;
            }
            /*Quem somos*/
            
            .fundo-colorido {
                background-color: blue;
                padding: 24px;
            }
            
            .secao-quemsomos {
                display: flex;
                flex-direction: column;
                margin: 4px;
            }
            
            .titulo {
                text-align: center;
                font-size: 40px;
                color: white;
                font-family: 'Oswald', sans-serif;
            }
            
            .texto {
                font-family: 'Inter Tight', sans-serif;
                color: white;
                padding: 8px;
                margin: 0 36px 0 36px;
                text-align: justify;
            }
            
            .botao-saibamais {
                text-decoration: none;
                margin-left: 84%;
                padding: 4px;
                background-color: white;
                color: blue;
                border: 1px solid red;
                border-radius: 8px;
                cursor: pointer;
                font-family: 'Lato', sans-serif;
            }
            
            .botao-saibamais:hover {
                color: greenyellow;
                background-color: green;
                border: 1px solid greenyellow;
                transition: 0.2s;
                transform: scale(1.1);
                opacity: 90%;
            }
            /*Seção Serviços*/
            
            .secao-servicos {
                background-color: white;
                display: flex;
                flex-direction: column;
                margin-bottom: 12px;
            }
            
            .cards-servicos {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
            .titulo-servicos {
                margin: 16px 0 0 0;
                font-size: 40px;
                text-align: center;
                color: blue;
                font-family: 'Oswald', sans-serif;
            }
            
            .card-servico {
                justify-content: space-around;
                margin: 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 2px solid red;
                border-radius: 8px;
                padding: 8px;
            }
            
            .card-servico:hover {
                transform: scale(1.1);
                transition: 0.4s;
                cursor: pointer;
            }
            
            .titulo-card {
                font-size: 16px;
                color: blue;
                font-family: 'Oswald', sans-serif;
            }
            
            .img-card {
                margin-top: 4px;
                width: 90px;
                border-radius: 80px;
            }
            
            .preco-card {
                margin-top: 4px;
                font-size: 12px;
                color: blue;
                font-family: 'Lato', sans-serif;
            }
            
            .botao-maisservicos {
                text-align: center;
                text-decoration: none;
                margin: auto;
                padding: 8px;
                background-color: white;
                color: blue;
                border: 1px solid red;
                border-radius: 8px;
                cursor: pointer;
                font-size: 12px;
                font-family: 'Lato', sans-serif;
            }
            
            .botao-maisservicos:hover {
                color: white;
                background-color: blue;
                border: 1px solid red;
                transition: 0.2s;
                transform: scale(1.1);
                opacity: 80%;
            }
            /*Onde estamos*/
            
            .onde-estamos {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            .titulooe {
                justify-content: center;
                align-items: center;
                color: white;
                text-align: center;
                margin-top: 4px;
                font-family: 'Oswald', sans-serif;
                font-size: 40px;
            }
            
            .textooe {
                font-family: 'Inter Tight', sans-serif;
                color: white;
                text-align: center;
            }
            
            iframe {
                justify-content: center;
                align-items: center;
                margin: 8px 8px 32px 8px;
            }
            /*Seção de contatos*/
            
            .secao-contato {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 0 24px 0;
            }
            
            .titulo-contato {
                color: blue;
                font-size: 40px;
                font-family: 'Oswald', sans-serif;
                margin-top: 16px;
            }
            
            .titulo-opcao {
                color: blue;
                font-family: 'Inter Tight', sans-serif;
            }
            
            .link-instagram,
            .link-whatsapp,
            .link-facebook,
            .link-tiktok,
            .link-faleconosco {
                text-decoration: none;
                padding: 16px;
                margin: 8px;
                background-color: blue;
                color: white;
                border-radius: 10px;
                border: 1px solid red;
                width: 90px;
                height: 90px;
            }
            
            .link-instagram:hover {
                background-color: #E1306C;
                color: #FFDC80;
                border: 2px solid #C13584;
                transition: 0.2s;
                box-shadow: 2px 2px 2px #F77737;
                transform: scale(1.1);
            }
            
            .link-whatsapp:hover {
                background-color: #25D366;
                color: white;
                border: 2px solid #075E54;
                transition: 0.2s;
                box-shadow: 2px 2px 2px #34B7F1;
                transform: scale(1.1);
            }
            
            .link-facebook:hover {
                background-color: #1778f2;
                color: white;
                border: 2px solid white;
                transition: 0.2s;
                box-shadow: 2px 2px 2px #898F9C;
                transform: scale(1.1);
            }
            
            .link-tiktok:hover {
                background-color: #010101;
                color: #ff0050;
                border: 2px solid #69C9D0;
                transition: 0.2s;
                box-shadow: 2px 2px 2px #ff0050;
                transform: scale(1.1);
            }
            
            .link-faleconosco:hover {
                background-color: red;
                color: white;
                border: 2px solid white;
                transition: 0.2s;
                box-shadow: 2px 2px 2px black;
                transform: scale(1.1);
            }
            /*Rodapé*/
            
            .rodape {
                display: flex;
                flex-direction: column;
                background-color: black;
                justify-content: center;
                align-items: center;
            }
            
            .logo-rodape {
                margin: 16px;
                color: blue;
                border: 2px solid red;
                background-color: white;
                padding: 2px;
                border-radius: 180px;
                width: 60px;
                height: 60px;
            }
            
            .logo-rodape:hover {
                color: red;
                border: 2px solid blue;
                transition: 0.5s;
            }
            
            #texto-rodape {
                text-align: center;
                color: white;
                font-family: 'Oswald', sans-serif;
            }
            
            }